%b
- form_for(Donor.new, :url => {:action => "index"}, :html => {:method => :get}) do |f|
  %fieldset
    %b
      Search: &nbsp; 
    First Name: 
    = text_field_tag :search_first_name, params[:search_first_name], {:size => 7}
    Last Name: 
    = text_field_tag :search_last_name, params[:search_last_name], {:size => 7}
    Address: 
    = text_field_tag :search_address, params[:search_address], {:size => 10}
    City Section:
    -#= f.select :city_section, city_sections_list, {:include_blank => 'Please Select a City Section'} 
    = select_tag :search_city_section, "<option value=''></option>" + options_for_select(all_city_sections_list)
    -# these aren't relevant anymore -- pickups are a seperate model now
    -#%br
    -#%br
    -#Pickup Time Between
    -#= calendar_date_select_tag( :search_pickup_time_lowest, nil, :size => 15, :time => false, :popup => :force) 
    -#And
    -#= calendar_date_select_tag( :search_pickup_time_highest, nil, :size => 15, :time => false, :popup => :force) 
    -#State:
    -#= select_tag :search_state, "<option value=''></option>" + options_for_select(Donor::STATES.map{ |s| [s[1], s[0]]})
    -#Class:
    -#= select_tag :search_priority, "<option value=''></option>" + options_for_select(Donor::PRIORITIES.map{ |s| [s[1], s[0]]})
    -#Pending:
    -#= select_tag :search_pending, "<option value=''></option>" + options_for_select([['TRUE', 1], ['FALSE', 0]])
    
    = f.submit "Search"
