%tr.form_field.required
  %td.form_label
    = f.label :first_name
  %td
    = f.text_field :first_name, :size => 20
%tr.form_field.required
  %td.form_label
    = f.label :last_name
  %td
    = f.text_field :last_name, :size => 20
%tr.form_field.required
  %td.form_label  
    = f.label :phone_primary, "Phone #(s)"
  %td
    = f.text_field :phone_primary, :size => 10
    &nbsp; &nbsp; / &nbsp; &nbsp;
    = f.text_field :phone_secondary, :size => 10
%tr.form_field
  %td.form_label
    = f.label :email
  %td  
    = f.text_field :email
%tr.form_field
  %td.form_label
    = f.label :city_section
  %td  
    - sections = ApplicationHelper::CITY_SECTIONS.map{|s| [s[1], s[0]]}
    = f.select :city_section, sections, {:include_blank => 'Please Select a City Section'}
%tr.form_field
  %td.form_label
    = f.label "Address"
  %td  
    = f.text_field :street_1
%tr.form_field
  %td.form_label
    = f.label :level
  %td  
    = f.text_field :level, :size => 2
    &nbsp;<b> Buzzer/Code </b>
    = f.text_field :buzzer_number, :size => 7
    &nbsp;<b> Elevator? </b>
    = f.check_box :elevator  
%tr.form_field
  %td.form_label
    = f.label :directions
  %td  
    = f.text_area :directions, :cols => 40, :rows => 4
%tr.form_field
  %td.form_label
    = f.label :scheduled_pickup_time
  %td  
    = f.datetime_select :scheduled_pickup_time, {:include_blank => true, :default => nil}
%tr.form_field
  %td.form_label
    = f.label :possible_future_pickup_time
  %td  
    = f.date_select :possible_future_pickup_time, {:include_blank => true, :default => nil}
%tr.form_field
  %td.form_label
    = f.label 'Donation ($)'
  %td  
    = f.text_field :donation_amount, :size => 5

