%div.left_half
  %div.boxtitle
    - @donor = @the_thing
    = "Donor: #{@donor.full_name}"
  %div.boxcontent
    %ul.show_list
      = show_field(@donor.full_name, 'Name')
      = show_field("#{@donor.phone_primary} (primary) " + " / #{@donor.phone_secondary} (secondary)", 'Phone Numbers')
      = show_field(@donor.email, 'Email')
      = show_field(@donor.donation_amount, 'Donation Amount')
      = show_field(ApplicationHelper::CITY_SECTIONS[@donor.city_section], 'City Section')
      = show_field(@donor.street_1, 'Street')
      = show_field(@donor.buzzer_number, 'Buzzer Number')
      = show_field(@donor.level, 'Level')
      = show_field(@donor.elevator, 'Elevator')
      = show_field(@donor.directions, 'Directions')
      = show_field(@donor.scheduled_pickup_time.andand.strftime("%b %d, %y - %H:%M"), 'Scheduled Pickup Time')
      = show_field(@donor.possible_future_pickup_time.andand.strftime("%b %d, %y - %H:%M"), 'Possible Future Pickup')
      %br
      = show_field(@donor.created_at.andand.strftime("%b %d, %y - %H:%M"), 'Created At')
      = show_field(@donor.updated_at.andand.strftime("%b %d, %y - %H:%M"), 'Updated At')
        
  = link_to 'Edit', edit_donor_path(@donor)
  |
  = link_to 'Index', donors_path
