%h2
  = "Edit User: #{@user.login}"
%div.left_half
  - form_for(@user, :url => {:action => "update"}, :html => {:method => :put}) do |f|
    %fieldset
      %table
        = render :partial => "form", :locals => {:f => f}
      = f.submit "Save"
      |
      = link_to 'Cancel', account_path
