%tr.form_field.required
  %td.form_label
    = f.label :first_name
  %td
    = f.text_field :first_name, :size => 20
%tr.form_field.required
  %td.form_label
    = f.label :last_name
  %td
    = f.text_field :last_name, :size => 20
%tr.form_field.required
  %td.form_label  
    = f.label :phone_primary, "Phone Number (primary)"
  %td
    = f.text_field :phone_primary, :size => 10
%tr.form_field
  %td.form_label  
    = f.label :phone_secondary, "Phone Number (secondary)"
  %td  
    = f.text_field :phone_secondary, :size => 10
%tr.form_field
  %td.form_label
    = f.label :email
  %td  
    = f.text_field :email
%tr.form_field
  %td.form_label
    = f.label 'Health Care #'
  %td  
    = f.text_field :health_care_number

%tr.form_field
  %td.form_label
    = f.label :city_section
  %td  
    - sections = ApplicationHelper::CITY_SECTIONS.map{|s| s}
    = f.select :city_section, sections, {:include_blank => 'Please Select a City Section'}
%tr.form_field
  %td.form_label
    = f.label :street
  %td  
    = f.text_field :street_1
%tr.form_field
  %td.form_label
    = f.label :buzzer_number
  %td  
    = f.text_field :buzzer_number, :size => 7
%tr.form_field
  %td.form_label
    = f.label :level
  %td  
    = f.text_field :level, :size => 2

%tr.form_field
  %td.form_label
    = f.label :elevator
  %td  
    = f.check_box :elevator 
%tr.form_field
  %td.form_label
    = f.label :directions
  %td  
    = f.text_area :directions, :cols => 40, :rows => 4
%tr.form_field
  %td.form_label
    = f.label :move_in_date
  %td  
    = f.date_select :move_in_date
%tr.form_field
  %td.form_label
    = f.label :previous_address
  %td  
    = f.text_field :previous_address
        
%tr.form-field
  %td.form_label
    = f.label 'Case Worker'
  %td
    = f.select :case_worker_id, CaseWorker.items_for_select
    = link_to("Add New Case Worker", {:controller => 'case_workers', :action => 'new'}, { :popup => ['new_window', 'height=500,width=700'] })
%tr.form_field
  %td.form_label
    = f.label :case_number
  %td  
    = f.text_field :case_number, :size => 15
%tr.form_field
%tr.form_field
  %td.form_label
    = f.label :bedrooms
  %td  
    = f.text_field :bedrooms, :size => 1
%tr.form_field
  %td.form_label
    = f.label :number_of_adults
  %td  
    = f.text_field :number_of_adults, :size => 2
%tr.form_field
  %td.form_label
    = f.label :number_of_children
  %td  
    = f.text_field :number_of_children, :size => 2
%tr.form_field
  %td.form_label
    = f.label 'Additional Info'
  %td  
    = f.text_area :additional_information, :cols => 40, :rows => 2
%tr.form_field
  %td.form_label
    = f.label 'Work/School Schedule'
  %td  
    = f.text_area :work_school_schedule, :cols => 40, :rows => 2
%tr.form_field
  %td.form_label
    = f.label 'Donation ($)'
  %td  
    = f.text_field :donation, :size => 5
%tr.form_field
  %td.form_label
    = f.label :comments
  %td  
    = f.text_area :comments, :cols => 40, :rows => 4
%tr.form_field
  %td.form_label
    = f.label :intake_date
  %td  
    = f.date_select :intake_date
%tr.form_field
  %td.form_label
    = f.label :referred_by
  %td  
    = f.text_field :referred_by, :size => 20
