%tr
  %td
    = recipient.id
  -#{:style => "background-color:red"}
  %td
    %b
      = link_to(recipient.full_name, edit_recipient_path(recipient))
  %td
    = "#{recipient.phone_primary} <br>  #{recipient.phone_secondary}"
  %td
    = recipient.address
  %td
    = recipient.city_section_string
  %td
    -# show the scheduled_delivery_time of the delivery with oldest noncomplete scheduled delivery time
    - most_recent_delivery_time = recipient.deliveries.by_oldest_uncompleted.first.andand.scheduled_delivery_time
    = datetime_formatted(most_recent_delivery_time)
  %td
    = recipient.deliveries.size
  %td
    = date_formatted(recipient.intake_date)
  %td
    = link_to_icon(:view, recipient_path(recipient))
    |
    = link_to_icon(:edit, edit_recipient_path(recipient))
    |
    = link_to_icon(:delete, polymorphic_path([recipient]))
