%h2
  - @recipient = @the_thing
  = "Edit Recipient: #{@recipient.full_name}"
= render(:partial => "shared/flashes")
%div.left_half#recipient_area
  - form_for @recipient, :url => {:action => "update"}, :html => {:method => :put} do |f|
    %fieldset
      %table
        = render :partial => "form", :locals => {:f => f}
        
      = f.submit "Save"
      |
      = link_to 'Back to Index', recipients_path
      = link_to_icon(:list, recipients_path) 
  
  %br

%div.right_half
  -#= image_tag "winnipeg_neighborhood_sections.gif", :border => "0", :width => "420", :height => "457", :usemap => "#Map", :alt => "Map of Neighbourhood Clusters"
  %table
    %tr
      %td
        = button_to "Schedule New Delivery", new_recipient_delivery_path(@recipient), {:method => :get}
      %td
        -#= image_tag "deliver.png", :border => "0", :alt => "DeliverySheet", :size => "20x20"
    
  %br
  - if @delivery
    %div.boxtitle
      = "Edit: Oldest Scheduled Delivery (ID: #{@delivery.id} )"
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      -#= link_to('Print Delivery Sheet', {:controller => 'recipients', :action => 'show_map'}, { :popup => ['new_window', 'height=500,width=700'] })
      = link_to('Print Delivery Sheet', polymorphic_path([:delivery_sheet, @recipient, @delivery]), { :popup => ['new_window', 'height=2000,width=850,menubar=yes'] })
      = link_to(image_tag("deliver.png", :title => "Print Delivery Sheet"), polymorphic_path([:delivery_sheet, @recipient, @delivery]), { :popup => ['new_window', 'height=700,width=1050,menubar=yes'] })
    %div.boxcontent
      = render("deliveries/edit")
    %br
  = render "deliveries/deliveries"

