%tr
  = table_row(delivery.id)
  = table_row(Delivery::PRIORITIES[delivery.priority])
  = table_row(datetime_formatted(delivery.scheduled_delivery_time))
  = table_row(datetime_formatted(delivery.delivered_on))
  = table_row(Delivery::STATES[delivery.state])
  = table_row(delivery.delivered_items.andand.size)
  %td
    = link_to_icon(:edit, edit_polymorphic_path([@recipient, delivery]))
    |
    = link_to_icon(:delete, polymorphic_path([@recipient, delivery]))
    |
    = link_to(image_tag("deliver.png", :title => "Delivery Sheet"), polymorphic_path([:delivery_sheet, @recipient, delivery]), { :popup => ['new_window', 'height=700,width=1050,menubar=yes,scrollbars=1'] })
