%div.boxtitle
  Delivered Items
%div.boxcontent   
  %table.delivered_items
    %tr
      %th 
        = 'Item'
      %th 
        = '# Req'
      %th 
        = '# Del'
      %th 
        = 'Comments'
      %th
        = ''
    - f.fields_for :delivered_items do |items_form|
      = render :partial => 'deliveries/delivered_item', :locals => {:items_form => items_form}
    -# have 3 extra blank delivered item rows shown, so they can be easily added (to avoid js)
    - 3.times do  
      - f.fields_for :delivered_items, DeliveredItem.new do |items_form|
        = render :partial => 'deliveries/delivered_item', :locals => {:items_form => items_form}
