%tr
  = table_row(donor_pickup.id)
  = table_row(DonorPickup::STATES[donor_pickup.state])
  = table_row(DonorPickup::PRIORITIES[donor_pickup.priority])
  = table_row(donor_pickup.pending)
  = table_row(datetime_formatted(donor_pickup.scheduled_pickup_time))
  = table_row(datetime_formatted(donor_pickup.pickedup_on))
  %td{:valign => 'top'}
    - donor_pickup.pickedup_items.each do |p_item|
      = "#{p_item.item.item_code} [#{p_item.number_donated}]"
      = check_box_tag('Done:', 1, p_item.done, :disabled => true)
      %br
  %td{:valign => 'top'}
    = link_to_icon(:edit, edit_polymorphic_path([@donor, donor_pickup]))
    |
    = link_to_icon(:delete, polymorphic_path([@donor, donor_pickup]))