%div.boxtitle
  Donated Items
-# use {:style => "overflow: scroll"} to cause the div to contain the items (no auto overflow), but put scrollbars
%div.boxcontent
  %table.donated_items
    %tr
      %th 
        = 'Item'
      %th 
        = '# Offd'
      %th 
        = '# PkUp'
      %th 
        = 'Done?'
      %th
        = 'Reason Declined'
      %th 
        = 'Comments'
      %th
        = 'Action'
    - f.fields_for :pickedup_items, @donor_pickup.pickedup_items.ordered_by_item_category do |items_form|
      = render :partial => 'donor_pickups/edit_pickedup_item', :locals => {:items_form => items_form}
    -# have 3 extra blank delivered item rows shown, so they can be easily added (to avoid js)
    -# (7 blank item rows if this is a totally new delivery being entered)
    - blank_rows = @donor_pickup.pickedup_items.any? ? 3 : 7
    - blank_rows.times do  
      - f.fields_for :pickedup_items, PickedupItem.new do |items_form|
        = render :partial => 'donor_pickups/edit_pickedup_item', :locals => {:items_form => items_form}
