%tr.form_field.required
  %td.form_label
    = f.label :first_name
  %td
    = f.text_field :first_name, :size => 20
%tr.form_field.required
  %td.form_label
    = f.label :last_name
  %td
    = f.text_field :last_name, :size => 20
%tr.form_field.required
  %td.form_label  
    = f.label :phone_number, "Phone Number"
  %td
    = f.text_field :phone_number, :size => 10
%tr.form_field
  %td.form_label
    = f.label :email
  %td  
    = f.text_field :email
%tr.form_field
  %td.form_label
    = f.label :organization
  %td  
    = f.select :organization_id, Organization.items_for_select
    = link_to("Add New Organization", {:controller => 'organizations', :action => 'new'}, { :popup => ['new_window', 'height=500,width=700'] })

