%tr.form_field
  %td.form_label
    = f.label :item_id
  %td
    = f.select :item_id, Item.items_for_select
%tr.form_field
  %td.form_label
    = f.label :number_requested
  %td
    = f.text_field :number_requested, :size => 5
%tr.form_field
  %td.form_label
    = f.label :number_delivered
  %td
    = f.text_field :number_delivered, :size => 5
%tr.form_field
  %td.form_label
    = f.label :comments
  %td
    = f.text_area :comments, :cols => 40, :rows => 2

