%tr.form_field.required
  %td.form_label
    = f.label :item_code
  %td
    = f.text_field :item_code, :size => 10
%tr.form_field.required
  %td.form_label
    = f.label :item_category
  %td
    - the_categories = Item::ITEM_CATEGORIES.sort.map{ |s| [s[1], s[0]]}
    = f.select :category_id, the_categories
%tr.form_field.required
  %td.form_label
    = f.label :name
  %td
    = f.text_field :name, :size => 20
%tr.form_field
  %td.form_label
    = f.label :obsolete
  %td
    = f.check_box :obsolete
%tr.form_field
  %td.form_label
    = f.label :description
  %td
    = f.text_area :description, :cols => 40, :rows => 2
%tr.form_field
  %td.form_label
    = f.label :icon_path
  %td
    = f.text_field :icon_path
  %td
    = image_tag(@item.icon_path, :width => "50", :height =>"50") unless @item.icon_path.blank?
%tr.form_field
  %td.form_label
    = f.label :image_path
  %td
    = f.text_field :image_path
