<p>
  <b>Category:</b>
  <%=h @item.category %>
</p>

<p>
  <b>Title:</b>
  <%=h @item.title %>
</p>

<p>
  <b>Description:</b>
  <%=h @item.description %>
</p>

<p>
  <b>Warehouse section:</b>
  <%=h @item.warehouse_section %>
</p>

<p>
  <b>Date recieved:</b>
  <%=h @item.date_recieved %>
</p>

<p>
  <b>Date given:</b>
  <%=h @item.date_given %>
</p>


<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>