%tr
  = table_row(organization.id)
  = table_row(organization.org_short_name)
  = table_row(organization.org_description)
  
  %td
    = link_to_icon(:edit, edit_polymorphic_path(organization))
    |
    = link_to_icon(:delete, polymorphic_path([organization]))
