
%h2
  Daily Worksheets

%table
  %tr
    %td
      -form_tag new_daily_worksheet_path(), :method => :get do
        = calendar_date_select_tag( 'the_worksheet_date', Time.now.to_date, :size => 23, :time => false, :popup => :force)   
        %br
        = submit_tag "Create NEW Daily Worksheet", :name => 'new_daily_worksheet'

      -#= button_to("Create a NEW Daily Worksheet", new_daily_worksheet_path, :method => :get)
      &nbsp; &nbsp;
    %td
      &nbsp; &nbsp; &nbsp; &nbsp;
    %td
      - form_for(DailyWorksheet.new, :url => {:action => "index"}, :html => {:method => :get}) do |f|
        %fieldset
          Search By Date: 
          = text_field_tag :search_term
          = f.submit "Search"

= render(:partial => "shared/flashes")

- column_titles = ['ID', 'Worksheet Date', 'Actions', 'Special Comments', '# PU/DEL', 'Created At', 'Updated At']
= table_header('Daily Worksheets', @the_things, column_titles, 'daily_worksheet')

