<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= controller.andand.the_model_name + ': ' + controller.action_name %></title>
  <%= stylesheet_link_tag 'basestyle' %>
  <%= stylesheet_link_tag 'hoh_style' %>
  <%= javascript_include_tag :defaults %>
  <%= calendar_date_select_includes "red" %>
</head>
<body>


<table>
<tr>

<td>
<%= image_tag "hoh_banner_small.jpg", :border => "0", :alt => "HandsOfHope", :size => "133x77"%>
</td>
<td align="right">
<% if current_user %>
  Logged in as: <b><%= current_user.login%></b>
  <br>
  <%= link_to "Edit Profile", edit_account_path %> |
  <%= link_to "Logout", logout_path %>
<% else %>
  <%= link_to "Login", login_path %>
<% end %>

</td>

<tr>

<td bgcolor="darkblue">&nbsp;</td>

<td  valign="bottom">
<table bgcolor="#64AAD0">

<tr>
<% if current_user %>
  <td>&nbsp;&nbsp;
    <b><font size="4"><%= link_to 'Recipients', recipients_path %></font></b>
    &nbsp;&nbsp;
    |
  </td>
  <td>&nbsp;&nbsp;
    <b><font size="4"><%= link_to 'Deliveries', deliveries_path %></font></b>
    &nbsp;&nbsp;
    |
  </td>
  <td>&nbsp;&nbsp;
    <b><font size="4"><%= link_to 'Donors', donors_path %></font></b>
    &nbsp;&nbsp;
    |
  </td>
  
  <td>&nbsp;&nbsp;
    <b><font size="4"><%= link_to 'Pickups', donor_pickups_path %></font></b>
    &nbsp;&nbsp;
    |
  </td>
  
  <td>&nbsp;&nbsp;
    <b><font size="4"><%= link_to 'Case Workers', case_workers_path %></font></b>
    &nbsp;&nbsp;
    |
  </td>
  <td>&nbsp;&nbsp;
    <b><font size="4"><%= link_to 'Organizations', organizations_path %></font></b>
    &nbsp;&nbsp;
    |
  </td>
  <td>&nbsp;&nbsp;
    <b><font size="4"><%= link_to 'Items', items_path %></font></b>
    &nbsp;&nbsp;
    |
  </td>
  <td>&nbsp;&nbsp;
    <b><font size="4"><%= link_to 'Daily Worksheet', daily_worksheets_path %></font></b>
    &nbsp;&nbsp;
    |
  </td>
  <td>&nbsp;&nbsp;
    <b><font size="4"><%= link_to 'Reports', reports_path %></font></b>
    &nbsp;&nbsp;
  </td>
<% end %>

</tr>
</table>




</tr>
</table>

<hr size="10" color="#034569">


<a href="/">home</a>      
<%= generate_breadcrumbs(request) %>


<p style="color: green"><%= flash[:notice] %></p>
<p style="color: red"><%= flash[:error] %></p>


<%= yield %>

</body>
</html>
